# Frontend environment variables for Vite (example)
# Replace values when configuring Vercel/Preview/Staging/Production
VITE_API_URL=https://team-task-manager-backend-abu9.onrender.com
VITE_SOCKET_URL=https://team-task-manager-backend-abu9.onrender.com

# Optional: any other VITE_ variables you need
# VITE_OTHER_KEY=value
JWT_SECRET = f3ff32e157cc01dc68b202882286f338